<div class="top">
  <div class="topcontent">
    <h1>Dashboard</h1>
    <button>
      <i class="fa-solid fa-user"></i>
    </button>
  </div>
</div>

<div class="main">
  <!-- Left Column -->
  <div class="left">
    <div class="card" id="totalorder">
      <span class="bglogo">
        <i class="fa-solid fa-cart-shopping"></i>
      </span>
      <span class="text">
        Total Order<br />
        <b>{{ totalOrders }}</b>
      </span>
    </div>

    <div class="card" id="topproduct" *ngIf="topProductDetails">
      <span class="bglogo">
        <img [src]="'http://localhost:5000/uploads/' + topProductDetails.image" width="80" alt="Top Product" />
      </span>
      <span class="text">
        Top Product<br />
        <p style="font-weight: 500; margin: 0;">{{ topProductDetails.name }}</p>
        <p style="font-size: 0.9rem; margin: 0;">{{ topProduct }}</p>
      </span>
    </div>

    <div class="card" id="sellsoverviwe">
      <canvas #donutCanvas></canvas>
    </div>
  </div>

  <!-- Right Column -->
  <div class="right">
    <div class="upside">
      <div class="card" id="totalsales">
        <span class="bglogos">
          <i class="fa-solid fa-money-check-dollar"></i>
        </span>
        <span class="text">
          Total Sell Revenue<br/>
          <b>₹{{ totalRevenue }}</b>
        </span>
      </div>

      <div class="card" id="totalcustomer">
        <span class="bglogos">
          <i class="fa-solid fa-users"></i>
        </span>
        <span class="text">
          Total Customers<br />
          <b>{{ totalcustomers }}</b>
        </span>
      </div>
    </div>

    <div class="downside">
      <div class="card" id="ordercountoflstweek">
        <canvas #lineCanvas></canvas>
      </div>

      <div class="card" id="ordercountofthisweek">
        <h4 style="margin-bottom: 0.5rem;">Top 3 Customers</h4>
        <ul style="padding-left: 1rem; margin: 0;">
          <li *ngFor="let cust of topCustomers" style="margin-bottom: 0.3rem;">
            {{ cust.name }} – ₹{{ cust.total }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
