.topcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 30%;
    width: 100%;
    position: relative;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.topcontent button {
    width: 63px;
    height: 63px;
    background-color: #FFF8E2;
    color: #6B3E26;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.25);
}

.topcontent h1 {
    font-size: 50px;
    color: #2B1712;
    font-weight: 700;
    margin: 0;
}

.maincontaint {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 70%;
    width: 100%;

    position: relative;
    bottom: 0;
}

.addstaffcontainer {

    height: 500px;
    width: 900px;
    border-radius: 15px;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.25);
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: grid;

}

.addstaffcontainer .inputsingle {
    width: 700px;
    height: 50px;
    border: 1px solid #EDE0C1;
    border-radius: 10px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 500;
    color: #6B3E26;
    background-color: #FFFFF6;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.1);
    outline: none;

}
.inputsingle::placeholder {
  color: #6B3E26;
  font-weight: 500;
}
.inputdouble::placeholder {
  color: #6B3E26;
  font-weight: 500;
}

.addstaffcontainer .inputdouble {
    width: 300px;
    height: 50px;
    border: 1px solid #EDE0C1;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 500;
    color: #6B3E26;
    background-color: #FFFFF6;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 10px;

}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.addstaffcontainer #button1 {
    width: 300px;
    height: 50px;
    background-color: #FBF7E6;
    color: #6B3E26;
    font-size: 20px;
    border: 1px solid #EDE0C1;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.25);

}

.addstaffcontainer #button2 {
    width: 300px;
    height: 50px;
    background-color: #FFA440;
    color: #FBF7E6;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.25);

}

.addstaffcontainer .buttonrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    /* max-width: 700px; */
}

.formwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputrow {
    display: flex;
    gap: 100px;
}